<a href="https://colab.research.google.com/github/TheBirdbomb/HUM1600/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
size = input("Enter pattern size: ")
while type(size) == str:
  try:
    size = int(size)
  except:
    try:
      size = float(size)
      print("Size must not have a decimal!")
      size = input("Enter pattern size: ")
    except:
      print("Size must be a number!")
      size = input("Enter pattern size: ")
for row in range(size + 1):
  for c in range(size + 1 - row):
    print("   ", end="")
  for d in range(row + 1):
    print("_|^^|_", end="")
  print()

Enter pattern size: 10
                                 _|^^|_
                              _|^^|__|^^|_
                           _|^^|__|^^|__|^^|_
                        _|^^|__|^^|__|^^|__|^^|_
                     _|^^|__|^^|__|^^|__|^^|__|^^|_
                  _|^^|__|^^|__|^^|__|^^|__|^^|__|^^|_
               _|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|_
            _|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|_
         _|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|_
      _|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|_
   _|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|__|^^|_

In [ ]:
base = int(input("Select the base: "))
exponent = int(input("Select the exponent: "))
x = 1

for _ in range(exponent):
  x = x * base
print(x)

Select the base: 4
Select the exponent: 5
1024

In [ ]:
def rand3(x,y=None,z=None):
  import random
  r = []
  if y==None:
    for _ in range(3):
      r.append(random.randint(1,x))
  else:
    for _ in range(3):
      r.append(random.randint(x,y))
  if z=="True" or z==1:
    if r[0]==r[1]:
      r[1]+=1
    if r[0]==r[2]:
      r[2]+=1
    if r[1]==r[2]:
      r[2]+=1
    if r[0]==r[2]:
      r[2]+=1
  return r

for _ in range(5):
  print(rand3(1,20,1))

[16, 17, 1]
[19, 9, 17]
[1, 20, 6]
[20, 15, 6]
[15, 12, 17]

In [ ]:
str = "Number is {}"
for x in range(5):
  print(str.format(x))

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4

In [ ]:
def isfloat(x):
  try:
    x = float(x)
    return True
  except:
    return False

x = input("Enter test info: ")
print(isfloat(x))

Enter test info: 9
True

In [ ]:
def valid_num(x):
  try:
    x = int(x)
    return type(x)
  except:
    try:
      x = float(x)
      return type(x)
    except:
      return "Not a number"

print(valid_num(input("Enter a number: ")))

Enter a number: 652
<class 'int'>

In [ ]:
def addname(name,list):
  list.append(name)
  return list
namelist = ["Bob","Jack","Mary"]
for x in range(int(input("How many names do you wish to add: "))):
  namelist = addname(input("Enter student name: "),namelist)
  print(namelist)

How many names do you wish to add: 3
Enter student name: Leo
['Bob', 'Jack', 'Mary', 'Leo']
Enter student name: Alice
['Bob', 'Jack', 'Mary', 'Leo', 'Alice']
Enter student name: Carol
['Bob', 'Jack', 'Mary', 'Leo', 'Alice', 'Carol']

In [ ]:
def email_maker(name):
  return name + "@utah.edu"

def emails_for_list(list):
  for name in list:
    print(email_maker(name))

name_list = ['Bob', 'Jack', 'Mary', 'Leo', 'Alice', 'Carol']

emails_for_list(name_list)

Bob@utah.edu
Jack@utah.edu
Mary@utah.edu
Leo@utah.edu
Alice@utah.edu
Carol@utah.edu

In [ ]:
def sumlist(list):
  x = 0
  for y in list:
    x += y
  return x

def numlist(length):
  import random
  list = []
  for x in range(length):
    list.append(random.randint(1,30))
  list.sort()
  print(list)
  return list

print(sumlist(numlist(8)))

[1, 13, 14, 18, 19, 21, 22, 23]
131

In [ ]:
string = "Hello to all the worldly people."
split = string.split(" ")
print(split)

['Hello', 'to', 'all', 'the', 'worldly', 'people.']

In [ ]:
file = open('practice','w')
file.write("Testing 1,2,3\nIs this working?")
file.close
file = open('practice','r')
print(file.read())

Testing 1,2,3
Is this working?

In [ ]:
def create_file(filename,string = ""):
  f = open(filename,'w')
  f.write(string)
  f.close

def add_file(filename,string,spaces=1):
  f = open(filename,'a')
  if spaces == 0:
    f.write(" " + string)
  else:
    f.write(('\n' * spaces) + string)
  f.close

def read_file(filename):
  f = open(filename,'r')
  print(f.read())
  f.close

create_file('Test1','Testing file functions!')
read_file('Test1')
print()
add_file('Test1','Adding line, re-testing!')
read_file('Test1')

Testing file functions!

Testing file functions!
Adding line, re-testing!

In [ ]:
def rand5(z=0):
  import random
  list = [0,0,0,0,0]
  while list[0]==list[1] or list[0]==list[2] or list[0]==list[3] or list[0]==list[4] or list[1]==list[2] or list[1]==list[3] or list[1]==list[4] or list[2]==list[3] or list[2]==list[4] or list[3]==list[4]:
    list.clear()
    for x in range(5):
      list.append(random.randint(1,20))
  if z == 1:
    list.sort()
  elif z == -1:
    list.sort()
    list.reverse()
  return list

print(rand5())
print(rand5(1))
print(rand5(-1))

[12, 6, 5, 13, 2]
[4, 8, 11, 17, 18]
[16, 12, 6, 5, 2]

In [ ]:
def zipper(L1,L2):
  if len(L1) == len(L2):
    new_list = []
    for z in range(len(L1)):
      new_list.append(L1[z])
      new_list.append(L2[z])
    return new_list
  else:
    return "The two lists must be the same length to zip."

list1 = [1,2,3,4]
list2 = [5,6,7,8]

print(zipper(list1,list2))

[1, 5, 2, 6, 3, 7, 4, 8]

In [ ]:
import random
scores = []
for x in range(10):
  scores.append(random.randint(40,100))
count = 0
for score in scores:
  if score >= 60:
    count += 1
scores.sort()
scores.reverse()
print(scores)
print("{} students passed, {} students failed.".format(count,10-count))

[99, 88, 85, 78, 76, 76, 72, 65, 58, 42]
8 students passed, 2 students failed.

In [ ]:
def string_split(list):
  num_list = []
  str_list = []
  for ele in list:
    if str(ele).isdigit():  # isdigit must be used on a string
      num_list.append(ele)
    else:
      str_list.append(ele)
  print(num_list)
  print(str_list)

test_list = ["abc", 60, 12, "hello", "world", 90]
string_split(test_list)

[60, 12, 90]
['abc', 'hello', 'world']

In [ ]:
def chk_bigger(x,y):
  if x > y:
    print("{} is bigger!".format(x))
  elif x < y:
    print("{} is bigger!".format(y))
  else:
    print("They are the same.")

chk_bigger(5,3)
chk_bigger(4,9)
chk_bigger(6,6)

5 is bigger!
9 is bigger!
They are the same.

In [ ]:
def cost_mi(miles):
  cost = 10
  if miles < 5:
    print("${}".format(cost))
  elif miles < 50:
    cost += (miles * .6)
    print("${}".format(cost))
  elif miles < 100:
    cost = 40 + miles
    print("${}".format(cost))
  else:
    print("No Ride.")

cost_mi(3)
cost_mi(28)
cost_mi(68)
cost_mi(112)

$10
$26.8
$108
No Ride.

In [ ]:
def in_list(str,lst):
  for s in lst:
    if str in s:
      return True
  return False

animals = ["cat", "dog", "pig", "cow"]
print(in_list("crow",animals))

False

In [ ]:
def temp_conv(temp_F,scale):
  if scale == "C":
    temp_C = (temp_F - 32) * 5/9
    return temp_C
  elif scale == "K":
    temp_K = (temp_F - 32) * 5/9 + 273.15
    return temp_K
  else:
    print("Invalid scale, enter only 'C' or 'K'")
    return 0

print(temp_conv(80,"C"))
print(temp_conv(80,"K"))
print(temp_conv(80,"J"))

26.666666666666668
299.81666666666666
Invalid scale, enter only 'C' or 'K'
0

In [ ]:
def str_lst_len(str_lst):
  len_lst = []
  for ele in str_lst:
    len_lst.append(len(ele))
  return len_lst

def str_lst_rev(str_lst):
  rev_lst = []
  for str in str_lst:
    rev = ""
    for char in str:
      rev = char + rev
    rev_lst.append(rev)
  return rev_lst

str_list = ["hello","","goodbye","wonderful"]
print(str_lst_len(str_list))
print(str_lst_rev(str_list))

[5, 0, 7, 9]
['olleh', '', 'eybdoog', 'lufrednow']

In [ ]:
for i in range(1,101):
  print("{0:>4}".format(i), end= " ")
  if i%10 == 0:
    print()

   1    2    3    4    5    6    7    8    9   10
  11   12   13   14   15   16   17   18   19   20
  21   22   23   24   25   26   27   28   29   30
  31   32   33   34   35   36   37   38   39   40
  41   42   43   44   45   46   47   48   49   50
  51   52   53   54   55   56   57   58   59   60
  61   62   63   64   65   66   67   68   69   70
  71   72   73   74   75   76   77   78   79   80
  81   82   83   84   85   86   87   88   89   90
  91   92   93   94   95   96   97   98   99  100

In [ ]:
bookshelf = {"The Book Thief":"Markus Zusak","To Kill A Mockingbird":"Harper Lee"}
bookshelf["Hamlet"] = "William Shakespeare"

print(bookshelf)
print(bookshelf.get("Hamlet","Not in bookshelf."))

# .get method is the shortcut of the following
if "Hamlet" in bookshelf:
  print(bookshelf["Hamlet"])

{'The Book Thief': 'Markus Zusak', 'To Kill A Mockingbird': 'Harper Lee', 'Hamlet': 'William Shakespeare'}
William Shakespeare
William Shakespeare

In [ ]:
english_spanish = {
    "hello":"hola",
    "world":"mundo",
    "one":"uno",
    "two":"dos",
    "three":"tres"
}
input_ = "Hello World one two three"
input_ = input_.lower()
lst = input_.split()
output = ""
for word in lst:
  if word in english_spanish:
    output += english_spanish.get(word) + " "
print(output.capitalize())

Hola mundo uno dos tres

In [ ]:
import requests
from bs4 import BeautifulSoup
url = 'https://en.wikipedia.org/wiki/Turtle_graphics'
response = requests.get(url)
if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    page_title = soup.title.text.strip()
    print(f"Page Title: {page_title}")
else:
    print("Failed to retrieve the webpage")

Page Title: Turtle graphics - Wikipedia

In [ ]:
capitals = {
    "Moscow":"Russia",
    "UK":"London",
    "France":"Paris",
    "Buenos Aires":"Argentina",
    "Berlin":"Germany",
    "KSA":"Riyadh"
}

# .item method returns dict pair as a tuple, tuple values can be assigned to multiple variables at once
for i, j in capitals.items():
  print(f"{i} is the capital of {j}.")

Moscow is the capital of Russia.
UK is the capital of London.
France is the capital of Paris.
Buenos Aires is the capital of Argentina.
Berlin is the capital of Germany.
KSA is the capital of Riyadh.

In [ ]:
with open("practice") as file:
  for line in file:
    words = line.split()
    print(words)
    print()
    for char in words:
      print(char + " ", end="")
      print()
    print()

['Testing', '1,2,3']

Testing
1,2,3

['Is', 'this', 'working?']

Is
this
working?

In [ ]:
ages = [21,28,20,21,19,19,20,21,20,22,26,28]
age_dict = {}
for age in ages:
  if age in age_dict:
    age_dict[age] += 1
  else:
    age_dict[age] = 1
print(age_dict)

{21: 3, 28: 2, 20: 3, 19: 2, 22: 1, 26: 1}

In [ ]:
grades = {
    "Mcrae": {"Test1":100,"Test2":95,"Midterm":99},
    "Heidi": {"Test1":89,"Test2":85,"Midterm":92},
    "Ale": {"Test1":97,"Test2":98,"Midterm":96}
}

print(grades["Heidi"]["Midterm"])
print(grades.get("Ale").get("Test1"))
print(grades["Mcrae"])
print()

teams = [
    ["Darshita","Rosemary"],
    ["Rush","Alex"],
    ["Kai","Pratik"],
    "Abdias"
]

print(teams[0][1])
print(teams[2])

92
97
{'Test1': 100, 'Test2': 95, 'Midterm': 99}

Rosemary
['Kai', 'Pratik']

In [ ]:
data = {
    "a":["alligator","apple"],
    "b":["bear","banana"],
    "c":["cat","cherry"]
}
reformatted = {}
animals = []
for key in data.keys():
  animals.append(data[key][0])
reformatted["animals"] = animals

fruit = []
for key in data.keys():
  fruit.append(data[key][1])
reformatted["fruit"] = fruit

print(reformatted)

{'animals': ['alligator', 'bear', 'cat'], 'fruit': ['apple', 'banana', 'cherry']}